@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="row">
    <div class="col-md-12 text-center" style="padding: 20px 0;">
        <h1>Welkom bij de workshop Pivotal Cloud Foundry van de Gildedag 2018 (test)</h1>
    </div>
    <div class="col-md-6 text-center">
        <img src="images/cbs-brand.svg" style="width: 100px;" alt="CBS logo" />
    </div>
    <div class="col-md-6 text-center" style="vertical-align: middle;">
        <img src="images/PivotalCloudFoundry_Logo.png" style="width: 500px; margin-top: 30px;" alt="PCF logo" />
    </div>
</div>
